.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gig-name {
    height: 75px;
    flex-grow: 7;
}

.section-value-flex-wrapper {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

.back-btn {
    flex-grow: 1;
    padding: 0 10px 0 0;
}

.edit-btn {
    flex-grow: 1;
    padding: 0 0 0 10px;
}

.play-btn {
    flex-grow: 1;
    padding: 0 0 0 10px;
}

//Song section
.song-panel-body {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.section-name {
    width: 25%;
    margin: 5px;
    text-align: left;
}

.section-value {
    align-self: center;
    font-size: 18px;
    margin: 4px;
}

.picture {
    height: 100%;
    width: 100%;
}

.placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.panel-description {
    align-items: center;
    flex-direction: row-reverse;
}

.panel-header {
    padding: 0 0 0 24px;
}

mat-divider {
    margin: 5px;
}