<mat-tab-group mat-stretch-tabs
               [@fadeInOnEnter]>
  <mat-tab [label]="'info' | transloco">
    <div class="flex-container">
      <mat-form-field appearance="outline"
                      class="setlist-name">
        <mat-label>{{'setlist_name' | transloco}}</mat-label>
        <input matInput
               required
               [(ngModel)]="setlist.name"
               (change)="onNameChanged()">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="setlist-description">
        <textarea matInput
                  [placeholder]="'description' | transloco"
                  [value]="setlist?.description"
                  (change)="onDescriptionChanged($event.target.value)"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>
      <ngx-extended-pdf-viewer [src]="setlist.pdfUrl"
                               useBrowserLocale="true"
                               height="80vh"
                               [showPresentationModeButton]="true"
                               [showBorders]="false"
                               [enablePinchOnMobile]="true"
                               [theme]="this.configurationService.useDarkMode ? 'dark' : 'light'">
      </ngx-extended-pdf-viewer>
    </div>
  </mat-tab>
  <mat-tab [label]="'songs' | transloco">
    <div cdkDropList
         (cdkDropListDropped)="drop($event)"
         class="setlist-songs">
      <div class="song-box"
           [style.color]="this.configurationService.useDarkMode ? 'white' : 'rgba(0, 0, 0, 0.87)'"
           *ngFor="let song of setlist.songs"
           cdkDrag
           [cdkDragDisabled]="!isDragMode">
        {{song}}
        <mat-icon *ngIf="isDragMode"
                  cdkDragHandle
                  color="accent">drag_handle</mat-icon>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="'add_songs' | transloco">
    <app-search (onSearch)="searchForSong($event)"
                (onClear)="clearSearch()"
                class="search-input"></app-search>
    <mat-selection-list #songs
                        class="user-song-list"
                        (selectionChange)="onSelectionChange($event)">
      <mat-list-option *ngFor="let song of filteredSongs"
                       [selected]="checkSelected(song)"
                       [value]="song">
        {{song.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>