<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Info">
        <div class="btn-wrapper">
            <shared-fab-btn [icon]="'arrow_back'" (onClick)="goBack()"></shared-fab-btn>
            <shared-fab-btn [icon]="'playlist_add'" (onClick)="importSetlist()"></shared-fab-btn>
        </div>
        <div class="flex-container">
            <mat-form-field appearance="outline" class="setlist-name">
                <mat-label>Name</mat-label>
                <input matInput required [(ngModel)]="setlist.name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="setlist-description">
                <textarea matInput placeholder="Description" [value]="setlist?.description"
                    (change)="onDescriptionChanged($event.target.value)" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"></textarea>
            </mat-form-field>
            <ngx-extended-pdf-viewer [src]="setlist.pdfUrl" useBrowserLocale="true" height="80vh">
            </ngx-extended-pdf-viewer>
            <uploader [storageBucketPrefix]="'setlists'" (onUploadComplete)="onImageUploadCompleted($event)"></uploader>
        </div>
    </mat-tab>
    <mat-tab label="Songs">
        <app-search (onSearch)="searchForSong($event)" (onClear)="clearSearch()" class="search-input"></app-search>
        <mat-selection-list #songs (selectionChange)="onSelectionChange($event)">
            <mat-list-option *ngFor="let song of filteredSongs" [selected]="checkSelected(song)" [value]="song">
                {{song.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
</mat-tab-group>