<mat-tab-group mat-stretch-tabs
               [@fadeInOnEnter]>
  <mat-tab [label]="'info' | transloco">
    <div class="flex-container">
      <mat-form-field appearance="outline"
                      class="setlist-name">
        <mat-label>{{'setlist_name' | transloco}}</mat-label>
        <input matInput
               required
               [(ngModel)]="setlist.name"
               (change)="onNameChanged()">
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="setlist-description">
        <textarea matInput
                  [placeholder]="'description' | transloco"
                  [value]="setlist?.description"
                  (change)="onDescriptionChanged($event.target.value)"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>
      <ngx-extended-pdf-viewer [src]="setlist.pdfUrl"
                               useBrowserLocale="true"
                               height="80vh">
      </ngx-extended-pdf-viewer>
      <uploader *ngIf="this.showUpload"
                [storageBucketPrefix]="'setlists'"
                (onUploadComplete)="onImageUploadCompleted($event)"></uploader>
    </div>
  </mat-tab>
  <mat-tab [label]="'songs' | transloco">
    <div cdkDropList
         class="setlist-songs"
         (cdkDropListDropped)="drop($event)">
      <div class="song-box"
           *ngFor="let song of setlist.songs"
           cdkDrag>{{song}}
        <mat-icon cdkDragHandle>drag_handle</mat-icon>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="'add_songs' | transloco">
    <app-search (onSearch)="searchForSong($event)"
                (onClear)="clearSearch()"
                class="search-input"></app-search>
    <mat-selection-list #songs
                        class="user-song-list"
                        (selectionChange)="onSelectionChange($event)">
      <mat-list-option *ngFor="let song of filteredSongs"
                       [selected]="checkSelected(song)"
                       [value]="song">
        {{song.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>