.exercise-viewport{
    height: calc(100vh - 72px);
}

.margin-top {
    margin-top: 1rem;
}

.grid {
    display: grid;
}

.image-container,
.document-container {
    display: grid;
    gap: 1em 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1em 0;
}

.upload-section {
    display: grid;
    grid-template-rows: auto;
}

.picture,
.sound {
    width: 100%;
}
