.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-full {
    width: 100%;
}
.item-half {
    width: 49%;
}
.picture {
    height: 100%;
    width: 100%;
}
