.band-card {
    margin: 2%;
}

.band-header {
    text-align: left;
}

.band-image {    
    background-size: cover;
}

.profile-picture {
    width: 30px;
    border-radius: 50%;
    align-self: center;
    margin-right: 2vh;
}