.profile-picture {
    width: 30px;
    border-radius: 50%;
    align-self: center;
    margin-right: 2vh;
}

.member-list {
    display: flex;
    align-items: center;
}

.band-image {
    background-size: cover;
    margin: 8px;
}

.member-entry {
    width: 100%;
    display: flex;
    align-items: center;

    .delete-button {
        margin-left: auto;
    }
}
