<mat-card class="band-card"
          [@fadeInOnEnter]>
  <mat-card-header class="band-header">
    <div *ngIf="band?.pictureUrl"
         mat-card-avatar
         [style.background-image]="'url(' + band?.pictureUrl +')'"
         class="band-image"></div>
    <mat-form-field appearance="legacy"
                    class="band-name">
      <mat-label>{{'band_name' | transloco}}</mat-label>
      <input matInput
             required
             [(ngModel)]="band.name"
             name="bandName">
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let member of band?.members; index as i">
        <img [src]="member.photoURL"
             class="profile-picture">
        <div class="member-entry">
          {{member.displayName}}
          <button mat-button
                  *ngIf="isUserBandAdmin"
                  (click)="this.deleteMember(i)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>