<div class="demo-flex-container">
  <div class="demo-row">
    <h2 class="row-el-1 first">{{ 'demo_overview' | transloco }}</h2>
    <img class="row-el-2 second"
         src="../assets/overview.gif">
  </div>
  <div class="demo-row">
    <h2 class="row-el-1 second">{{ 'demo_gig_overview' | transloco }}</h2>
    <img class="row-el-2 first"
         src="../assets/gig-drag-n-drop.gif">
  </div>
  <div class="demo-row">
    <h2 class="row-el-1 first">{{ 'demo_gig_search' | transloco }}</h2>
    <img class="row-el-2 second"
         src="../assets/gig-edit.gif">
  </div>
  <div class="demo-row">
    <h2 class="row-el-1 second">{{ 'demo_band' | transloco }}</h2>
    <img class="row-el-2 first"
         src="../assets/band-setlist.gif">
  </div>
  <div class="demo-row">
    <h2 class="row-el-1 first">{{ 'demo_settings' | transloco }}</h2>
    <img class="row-el-2 second"
         src="../assets/settings.gif">
  </div>
</div>