.demo-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.demo-row {
    margin: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    @media only screen and (min-width: 992px) {
        width: 70%;
        height: 80vh;
        flex-direction: row;
    }
}

.demo-row > * {
    font-family: 'Arial';
}

.row-el-1 {
    flex-grow: 7;
}

.row-el-2 {
    height: 100%;
    @media only screen and (max-width: 992px) {
        width: 100%;
    }
}

.first {
    order: 1;
}

.second {
    order: 2;
    @media only screen and (max-width: 992px) {
        order: 1;
    }
}
