.gig-name {
    height: 75px;
    flex-grow: 1;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    flex-grow: 1;
    height: 75px;
}

.song-list {
    text-align: left;
}
