<div class="flex-container"
     [@fadeInOnEnter]>
    @if (!filterToggle) {
    <mat-form-field appearance="outline"
                    class="gig-name">
        <mat-label>{{'gig_name' | transloco}}</mat-label>
        <input #gigNameModel="ngModel"
               matInput
               required
               [(ngModel)]="gig.name"
               name="gigName">
    </mat-form-field>
    } @else {
    <app-search (onSearch)="searchForSong($event)"
                (onClear)="clearSearch()"
                class="search-input"></app-search>
    }
</div>
<mat-selection-list #songs
                    class="song-list"
                    (selectionChange)="onSelectionChange($event)">
    <cdk-virtual-scroll-viewport itemSize=48
                                 class="viewport">
        @for (song of filteredSongs; track song) {
        <mat-list-option [selected]="checkSelected(song)"
                         [value]="song">
            {{song.name}}
        </mat-list-option>
        }
    </cdk-virtual-scroll-viewport>
</mat-selection-list>
