<div class="exercise-details-grid"
     [@fadeInOnEnter]
     [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily">

  <h4 class="exercise-name">{{exercise.name}}</h4>
  <div class="exercise-description">{{exercise.description}}</div>

  <div class="exercise-mode-template"
       [ngSwitch]="this.currentMode">

    <!-- Intervall -->
    <ng-template [ngSwitchCase]="ExerciseModes.INTERVAL">
      <div class="interval-template">
        <mat-form-field class="duration"
                        appearance="outline">
          <mat-label>{{'exercise_duration' | transloco}}</mat-label>
          <input matInput
                 required
                 type="number"
                 name="intervalDuration"
                 [(ngModel)]="this.exerciseDuration">
        </mat-form-field>

        <mat-form-field class="increase-time"
                        appearance="outline">
          <mat-label>{{'exercise_increase_time' | transloco}}</mat-label>
          <input matInput
                 required
                 type="number"
                 name="intervalIncreaseTime"
                 [(ngModel)]="this.intervalTime">
        </mat-form-field>

        <mat-form-field class="increase-bpm"
                        appearance="outline">
          <mat-label>{{'exercise_increase_bpm' | transloco}}</mat-label>
          <input matInput
                 required
                 type="number"
                 name="intervalIncreaseBpm"
                 [(ngModel)]="this.intervalBpm">
        </mat-form-field>

        <mat-label class="interval-progress-header">{{'exercise_interval_progress' | transloco}}:</mat-label>

        <mat-progress-spinner class="spinner"
                              mode="determinate"
                              [value]="this.intervalDurationPercentage"></mat-progress-spinner>


        <div class="total-progress">
          <mat-label>{{'exercise_total_progress' | transloco}}: {{this.exerciseDurationTimeElapsed}}</mat-label>
          <mat-progress-bar mode="determinate"
                            [value]="this.exerciseDurationPercentage"></mat-progress-bar>
        </div>

        <shared-metronome class="metronom"
                          [bpm]="this.exercise.currentBpm"
                          [showPlay]="this.exerciseDuration"
                          [showSoundMode]="true"
                          (onBpmChanged)="this.exercise.currentBpm = $event"
                          (onStart)="this.startExercise()"
                          (onStop)="this.stopExercise()"></shared-metronome>
      </div>
    </ng-template>

    <!-- Timebased -->
    <ng-template [ngSwitchCase]="ExerciseModes.TIMEBASED">

      <div class="timebased-template">
        <mat-form-field appearance="outline">
          <mat-label>{{'exercise_duration' | transloco}}</mat-label>
          <input matInput
                 required
                 type="number"
                 name="timebasedDuration"
                 [(ngModel)]="this.exerciseDuration">
        </mat-form-field>

        <div class="total-progress">
          <mat-label>{{'exercise_total_progress' | transloco}}: {{this.exerciseDurationTimeElapsed}}</mat-label>
          <mat-progress-bar mode="determinate"
                            [value]="this.exerciseDurationPercentage"></mat-progress-bar>
        </div>

        <shared-metronome [bpm]="this.exercise.currentBpm"
                          [showPlay]="this.exerciseDuration"
                          [showSoundMode]="true"
                          (onBpmChanged)="this.exercise.currentBpm = $event"
                          (onStart)="this.startExercise()"
                          (onStop)="this.stopExercise()"></shared-metronome>
      </div>
    </ng-template>

    <!-- Manual Mode -->
    <ng-template ngSwitchDefault>
      <shared-metronome [bpm]="this.exercise.currentBpm"
                        [showSoundMode]="true"
                        (onBpmChanged)="this.exercise.currentBpm = $event"
                        (onStart)="this.startExercise()"></shared-metronome>
    </ng-template>
  </div>

  <div class="exercise-audio"
       *ngIf="this.exercise.sound">

    <audio class="audio"
           controls>
      <source *ngIf="exercise.sound"
              [src]="exercise.sound">
    </audio>
  </div>

  <div class="exercise-image"
       *ngIf="this.exercise.pictureUrl">
    <img class="img"
         [src]="this.exercise.pictureUrl">
  </div>


  <ngx-extended-pdf-viewer class="exercise-pdf"
                           *ngIf="this.exercise.pdfUrl"
                           [src]="exercise?.pdfUrl"
                           useBrowserLocale="true"
                           [showPresentationModeButton]="true"
                           [showBorders]="false"
                           [enablePinchOnMobile]="true"
                           [theme]="this.configurationService.useDarkMode ? 'dark' : 'light'"
                           height="80vh"></ngx-extended-pdf-viewer>

</div>

<ng-template #saveDialog>
  <h1 matDialogTitle>{{'exercise_complete_title' | transloco}}</h1>
  <mat-dialog-content>
    <p>
      {{'exercise_complete_content' | transloco: { initialBpm: this.initialBpm, currentBpm: this.exercise.currentBpm }
      }}
    </p>

    <div class="dialog-content">
      <button mat-icon-button
              (click)="this.exercise.nextBpm = this.exercise.nextBpm - 5">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <mat-form-field class="exercise-next-bpm"
                      appearance="outline">
        <mat-label>{{'exercise_next_bpm' | transloco}}</mat-label>
        <input matInput
               required
               autofocus
               type="number"
               name="nextBpm"
               [(ngModel)]="this.exercise.nextBpm">
      </mat-form-field>
      <button mat-icon-button
              (click)="this.exercise.nextBpm = this.exercise.nextBpm + 5">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="action-buttons">
    <button mat-button
            mat-dialog-close>
      <ng-template transloco
                   let-t>
        {{ t('cancel') }}
      </ng-template>
    </button>
    <button mat-button
            [mat-dialog-close]="true">
      <ng-template transloco
                   let-t>
        {{ t('confirm') }}
      </ng-template>
    </button>
  </mat-dialog-actions>
</ng-template>