.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &.h80 {
        height: 80vh;
    }

    &.h6 {
        height: 6vh;
    }

    &.buttons {
        flex-direction: row;
        margin-bottom: 4px;
    }
}

.login-card {
    width: 70vw;
    height: 30vh;
}

.login-image {
    background-image: url(./../../assets/icons/icon-72x72.png);
    background-size: cover;
}

.spacer {
    flex: 1 1 auto;
}

.guest-note {
    font-style: italic;
    font-size: small;
}
