$accent-color: #f08a3f;
$middle-color: #bc5d89;
$base-color: #2f4858;

$accent-middle-linear-gradient-color: linear-gradient($accent-color, $middle-color);
$middle-base-linear-gradient-color: linear-gradient($middle-color, $base-color);
$accent-base-linear-gradient-color: linear-gradient($accent-color, $base-color);

$divider-color: #333;
$background-color: #ffffff;
