@use '~@angular/material' as mat;
@import '../../node_modules/@angular/material/theming';

@include mat.core();

$custom-light-theme-primary: mat.define-palette(mat.$blue-gray-palette);
$custom-light-theme-accent: mat.define-palette(mat.$orange-palette, 500, A200, A700);
$custom-light-theme-warn: mat.define-palette(mat.$red-palette);

$custom-light-theme: mat.define-light-theme($custom-light-theme-primary, $custom-light-theme-accent, $custom-light-theme-warn);

// Darktheme
$custom-dark-theme-primary: mat.define-palette(mat.$blue-gray-palette);
$custom-dark-theme-accent: mat.define-palette(mat.$orange-palette, 500, A200, A700);
$custom-dark-theme-warn: mat.define-palette(mat.$red-palette);

$custom-dark-theme: mat.define-dark-theme($custom-dark-theme-primary, $custom-dark-theme-accent, $custom-dark-theme-warn);

@include mat.all-component-themes($custom-light-theme);
.darkTheme {
    @include mat.all-component-themes($custom-dark-theme);
}
