@import '../../../styles/colors';

.flex-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

app-song-section {
    display: flex;
    width: 100%;
    margin: 5px;
}

.song-name {
    flex: 1;
}

.section-name {
    margin-right: 5px;
    width: 25%;
    text-align: left;
}

.section-value {
    width: 60%;
    margin-right: 5px;
}

.section-drag-handle {
    height: 40px;
    width: 40px;
}

.edit-icon {
    margin-bottom: 2px;
}

.picture {
    height: 100%;
    width: 100%;
}

.pdf {
    height: 85vh;
    width: 100%;
}

.sound {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    width: 100%;
}

.bpm {
    flex: 1;
    margin-bottom: 1em;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: $base-color;

    mat-label {
        color: $base-color;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.song-sections-list.cdk-drop-list-dragging .song-sections-list:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.bands {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;

    .band {
        display: flex;
        align-items: center;
        
        .band-picture {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-self: center;
            margin-right: 2vh;
            visibility: hidden;

            &.visible {
                visibility: visible;
            }
        }
    }
}
