<cdk-virtual-scroll-viewport itemSize="48"
                             class="song-edit-viewport">
    <div class="flex-container"
         [@fadeInOnEnter]>
        <mat-form-field appearance="outline"
                        class="song-name">
            <mat-label>{{'song_name' | transloco}} </mat-label>
            <input #songNameModel="ngModel"
                   matInput
                   required
                   [(ngModel)]="song.name"
                   name="songName">
        </mat-form-field>
        <mat-form-field appearance="outline"
                        class="bpm"
                        [hintLabel]="'metronome_hint' | transloco">
            <mat-label>{{'BPM'}}</mat-label>
            <input matInput
                   [(ngModel)]="song.bpm"
                   name="bpm">
        </mat-form-field>
        <div class="bands">
            @if (!selectedBand) {
            @for (band of bands$ | async; track band) {
            <div class="band"
                 (click)="selectBand(band)">
                <img [src]="band.pictureUrl"
                     class="band-picture"
                     [ngClass]="{'visible': band.pictureUrl}"> {{band.name}}
            </div>
            }
            } @else {
            <div class="band">
                <img [src]="selectedBand.pictureUrl"
                     class="band-picture"
                     [ngClass]="{'visible': selectedBand.pictureUrl}"> {{selectedBand.name}}
                <button mat-icon-button
                        (click)="deselectBand()">
                    <mat-icon color="accent">highlight_off</mat-icon>
                </button>
            </div>
            }
        </div>
        @if (song.sound) {
        <div class="sound">
            <audio class="audio"
                   controls>
                <source [src]="song.sound">
            </audio>
            <button mat-icon-button
                    (click)="removeAudio()">
                <mat-icon color="accent">delete_outline</mat-icon>
            </button>
        </div>
        }
        <div class="song-sections-list"
             cdkDropList
             (cdkDropListDropped)="drop($event)">
            @for (section of song?.sections; track section; let i = $index) {
            <div class="section"
                 cdkDrag
                 [cdkDragDisabled]="!isReoderingMode">
                <div class="section-wrapper">
                    <mat-form-field appearance="outline"
                                    class="section-name">
                        <mat-label>{{'section' | transloco}}</mat-label>
                        <input matInput
                               [(ngModel)]="section.name"
                               name="name">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput
                                  [placeholder]="'section_value' | transloco"
                                  [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily"
                                  [style.text-align]="(this.configurationService.configuration$ | async)?.sectionAlignment"
                                  [value]="section?.value | StringArrayLines"
                                  (change)="onTextAreaValueChanged(i, $event.target.value)"
                                  cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize"></textarea>
                    </mat-form-field>
                </div>
                @if (isDeletingMode) {
                <button mat-icon-button
                        (click)="removeSection(i)">
                    <mat-icon color="accent">delete_outline</mat-icon>
                </button>
                }
                @if (isReoderingMode) {
                <button mat-icon-button
                        cdkDragHandle>
                    <mat-icon color="accent">drag_handle</mat-icon>
                </button>
                }
            </div>
            }
        </div>
        <br>
        @for (picture of song?.pictures; track picture; let i = $index) {
        <div>
            <pinch-zoom>
                <img class="picture"
                     [src]="picture">
            </pinch-zoom>
            <button mat-icon-button
                    (click)="removePicture(i)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </div>
        }
        @for (pdf of song?.pdfs; track pdf; let i = $index) {
        <div style="height: 80vh;">
            <ng2-pdfjs-viewer [pdfSrc]="pdf | encode"
                              [useOnlyCssZoom]="true"></ng2-pdfjs-viewer>
            <button mat-icon-button
                    (click)="removePdf(i)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </div>
        }
    </div>
</cdk-virtual-scroll-viewport>
