app-song-section {
  display: flex;
  width: 100%;
  margin: 5px;
}

.song-name {
  margin: 0 10px 0 10px;
}

.section-name {
  margin-right: 5px;
  width: 25%;
  text-align: left;
}

.section-value {
  width: 60%;
  margin-right: 5px;
}

.edit-icon {
  margin-bottom: 2px;
}

.picture {
  height: 100%;
  width: 100%;
}
