@import '../styles/colors';

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Arial;
    padding: 0 0 0 10px;
}

.action-bar {
    display: flex;
    flex-grow: 9;
}

.drawer-container {
    height: 100vh;

    .drawer-content {
        display: flex;
        flex-direction: column;

        .navigation-item {
            display: flex;

            mat-icon {
                margin: 0 8px 0 0;
            }
        }
    }
}

.app-content {
    padding: 8px;
}
