<div class="dropzone"
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering"
     [style.backgroundColor]="this.configurationService.useDarkMode ? 'rgb(66, 66, 66)' : 'white'">

  <shared-fab-btn [icon]="'upload_file'"
                  (onClick)="fileInput.click()">
    <input #fileInput
           type="file"
           accept="image/*,.pdf,audio/*"
           (change)="onDrop($event.target.files)"
           style="display:none;" />
  </shared-fab-btn>
</div>

<div *ngFor="let file of files">
  <upload-task [file]="file"
               [storageBucketPrefix]="storageBucketPrefix"
               (onUploadComplete)="uploadComplete($event)">
  </upload-task>
</div>