.song-panel-body {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.section-name {
    width: 25%;
    margin: 5px;
    text-align: left;
}

.section-value-flex-wrapper {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

.section-value {
    align-self: center;
    font-size: 18px;
    margin: 4px;
}

mat-divider {
    margin: 5px;
}

.picture {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.search-input {
    flex-grow: 1;
    height: 75px;
}
