.flex-container {
    display: flex;
    flex-direction: column;
}

.search-input {
    flex-grow: 1;
    height: 55px;
}

.song-option {
    height: 48px;
    text-align: left;
    
}

.archived {
    opacity: 0.5;
}
