<div class="flex-container"
     [@fadeInOnEnter]>
    <app-search (onSearch)="searchForSong($event)"
                (onClear)="clearSearch()"
                class="search-input"></app-search>

    <mat-list class="selection-list">
        <cdk-virtual-scroll-viewport itemSize=48
                                     class="viewport">
            <mat-list-item *cdkVirtualFor="let song of filteredSongs"
                           [value]="song"
                           [routerLink]="['/songs/details', song.id]"
                           [ngClass]="{'archived': song.isArchived}"
                           class="song-option">
                {{song.name}}
            </mat-list-item>
        </cdk-virtual-scroll-viewport>
    </mat-list>
</div>
