<div [@fadeInOnEnter]>
    <app-search (onSearch)="searchForSong($event)"
                (onClear)="clearSearch()"
                class="search-input"></app-search>

    <mat-action-list>
        <cdk-virtual-scroll-viewport itemSize=48
                                     class="viewport">
            <button mat-list-item
                    *cdkVirtualFor="let song of filteredSongs"
                    [value]="song"
                    [routerLink]="['/songs/details', song.id]"
                    [ngClass]="{'archived': song.isArchived}"
                    class="song-option">
                {{song.name}}
            </button>
        </cdk-virtual-scroll-viewport>
    </mat-action-list>
</div>
