<div [@fadeInOnEnter]>
    <h3 class="song-title mat-mdc-card-title"
        [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily">
        {{this.song.name}}
    </h3>
    <cdk-virtual-scroll-viewport itemSize="48"
                                 class="song-details-viewport">
        <div class="metronome-wrapper">
            <shared-metronome [bpm]="song.bpm"
                              [sliderDisabled]="true"
                              [showSoundMode]="true"
                              (onBpmChanged)="updateBpm($event)"></shared-metronome>

            <div class="sound"
                 *ngIf="song.sound">
                <audio controls>
                    <source [src]="song.sound">
                </audio>
            </div>
        </div>

        <div class="song-panel-body-wrapper">
            <mat-card class="song-panel-body"
                      *ngFor="let section of song.sections; index as i">
                <mat-card-header>
                    <mat-card-title [style.fontSize]="(this.configurationService.configuration$ | async)?.fontSizeHeader"
                                    [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily">
                        {{section.name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="section-value-flex-wrapper">
                        <div class="section-value"
                             *ngFor="let value of section.value"
                             [style.fontSize]="(this.configurationService.configuration$ | async)?.fontSizeSection"
                             [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily"
                             [style.text-align]="(this.configurationService.configuration$ | async)?.sectionAlignment">
                            {{value}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="section-value"
             *ngFor="let picture of song.pictures">
            <pinch-zoom>
                <img class="picture"
                     [src]="picture">
            </pinch-zoom>
        </div>
        <div *ngFor="let pdf of song?.pdfs"
             style="height: 80vh;">
            <ng2-pdfjs-viewer [pdfSrc]="pdf | encode"
                              [useOnlyCssZoom]="true"></ng2-pdfjs-viewer>

        </div>
    </cdk-virtual-scroll-viewport>
</div>
