.song-panel-body {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.section-name {
    width: 25%;
    margin: 5px;
    text-align: left;
    text-decoration: underline;
}

.section-value-flex-wrapper {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    margin: 5px;
}

.section-value {
    align-self: center;
    font-size: 18px;
    margin: 4px;
    width: 100%;
}

.sound {
    width: 100%;
}

.picture {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
