<div [@fadeInOnEnter]>
    <h3 class="song-title mat-mdc-card-title"
        [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily">
        {{this.song.name}}
    </h3>
    <cdk-virtual-scroll-viewport itemSize="48"
                                 class="song-details-viewport">
        <div class="metronome-wrapper">
            <shared-metronome [bpm]="song.bpm"
                              [sliderDisabled]="true"
                              [showSoundMode]="true"
                              (onBpmChanged)="updateBpm($event)"></shared-metronome>
            @if (song.sound) {
            <div class="sound">
                <audio controls>
                    <source [src]="song.sound">
                </audio>
            </div>
            }
        </div>
        <div class="song-panel-body-wrapper">
            @for (section of song.sections; track section; let i = $index) {
            <mat-card class="song-panel-body">
                <mat-card-header>
                    <mat-card-title [style.fontSize]="(this.configurationService.configuration$ | async)?.fontSizeHeader"
                                    [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily">
                        {{section.name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="section-value-flex-wrapper">
                        @for (value of section.value; track value) {
                        <div class="section-value"
                             [style.fontSize]="(this.configurationService.configuration$ | async)?.fontSizeSection"
                             [style.font-family]="(this.configurationService.configuration$ | async)?.fontFamily"
                             [style.text-align]="(this.configurationService.configuration$ | async)?.sectionAlignment">
                            {{value}}
                        </div>
                        }
                    </div>
                </mat-card-content>
            </mat-card>
            }
        </div>
        @for (picture of song.pictures; track picture) {
        <div class="section-value">
            <pinch-zoom>
                <img class="picture"
                     [src]="picture">
            </pinch-zoom>
        </div>
        }
        @for (pdf of song?.pdfs; track pdf) {
        <div style="height: 80vh;">
            <ng2-pdfjs-viewer [pdfSrc]="pdf | encode"
                              [useOnlyCssZoom]="true"></ng2-pdfjs-viewer>
        </div>
        }
    </cdk-virtual-scroll-viewport>
</div>
