.song-title {
    margin-left: 5px;
}

.metronome-wrapper {
    margin: 5px;
}

.song-panel-body-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        flex-direction: row;

    }
}

.song-panel-body {
    display: flex;
    margin: 5px;
    width: 100%;
    flex-direction: column;

    @media (min-width: 768px) {
        flex: 1 1 45%;
    }
}

.section-name {
    margin: 5px;
    text-align: left;
    text-decoration: underline;
}

.section-value-flex-wrapper {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    margin: 5px;
}

.section-value {
    align-self: center;
    font-size: 18px;
    margin: 4px;
    width: 100%;
}

.sound {
    width: 100%;
    text-align: center;
}

.picture {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
