.flex-container {
    display: flex;
    align-items: baseline;
}

.band-name {
    margin: 10px;
    flex-grow: 9;
}

.save-btn {
    flex-grow: 1;
}

.band-picture {
    width: 50%;
    flex-grow: 5;
    border-radius: 50%;
    align-self: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
    height: 25vh;
}
