<mat-nav-list>
  <a mat-list-item
     *ngFor="let type of token.typesToUpload"
     (click)="fileInput.click()">

    <span mat-line>{{ 'upload_' + type | transloco }}</span>
    <input #fileInput
           type="file"
           multiple
           [accept]="type"
           (change)="onChange($event.target.files, type)"
           style="display: none;" />

    <span mat-line
          *ngFor="let file of files[type]">
      <upload-task [file]="file"
                   [mediaType]="type"
                   [storageBucketPrefix]="token.storageBucketPrefix"
                   (onUploadComplete)="uploadComplete($event)">
      </upload-task>
    </span>
  </a>
</mat-nav-list>